$table: 768px;
.wrapper {
  background-color: #fff;
  border-radius: 6px;
  padding: 30px;
  margin-bottom: 20px;
}
.discription_input {
  width: 100%;
  min-height: 200px;
  background: rgb(255 255 255 / 75%);
  border: none;

  border-radius: 4px;

  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #000;
  padding: 10px 16px;
  font-family: 'Nunito', sans-serif;
  resize: none;
  margin-bottom: 10px;
  &:focus-visible {
    outline: none;
  }
}
.type_input {
  max-width: 400px;
  min-height: 40px;
  background: rgb(255 255 255 / 75%);
  border: none;

  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #000;
  padding: 10px 16px;
  font-family: 'Nunito', sans-serif;
  resize: none;
  margin-bottom: 10px;
  &:focus-visible {
    outline: none;
  }
}
.signer {
  padding-bottom: 15px;
}
.add_statement_file {
  border: none;
  color: #000;
  text-align: left;
  img {
    width: 14px;
    height: 16px;
    margin-right: 5px;
    margin-bottom: -3px;
  }
  span {
    font-size: 11px;
    color: #515e68;
    font-family: 'Montserrat', sans-serif;
  }
}

.datePicker {
  padding: 10px 16px;
  border-radius: 4px;
  border: none;
}
.body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.position_card {
  padding: 10px;

  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 6px;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.btn3 {
  background: rgb(0 0 0 / 44%);
  border: none;
  color: white;
  text-transform: none;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  border-radius: 6px;
  transition: 0.3s;
  float: right;
  &:hover {
    cursor: pointer;
    background: rgba(32, 116, 219, 0.26);
  }
}
.statement_footer {
  padding: 15px 0px;

  .btn1 {
    background: rgb(0 0 0 / 44%);
    border: none;
    color: white;
    text-transform: none;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.68);
    }
  }
  .btn2 {
    margin-left: 20px;
    border-radius: 6px;

    font-family: 'Nunito', sans-serif;
    color: #535b69;
    background: transparent;
    &:hover {
      background: #cfd4d8;
    }
  }
}

@media screen and (max-width: $table) {
  .statement_footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .btn2 {
      margin: 0;
    }
  }
}
