.modal_wrapper {
  background: rgb(255 255 255 / 90%);
  backdrop-filter: blur(12.5px);
  border-radius: 6px;
  padding: 30px;
  text-align: left;
  width: 35%;
}
.modal_title {
  text-align: left;
}
.modal_text {
  padding-top: 10px;
}
