/* Общие стили */

.home_card_wrapper {
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  color: #333;
  height: 100vh;
}

/* Шапка */
.header {
  position: fixed;
  top: 0;
  width: 100%;

  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.027) 1px 3px;
  padding: 0px 10px;
  z-index: 99999;
}
.user__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 53px;

  max-width: 205px;
  box-sizing: border-box;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
  }
}
.avatar2 {
  margin: 0 auto;
}

.image__cover {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  object-fit: cover;
  &:hover {
    zoom: 105%;
    cursor: pointer;
  }
}
.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.logo {
  padding-top: 10px;

  img {
    width: 120px;
  }
}

.buttons {
  display: flex;
  gap: 25px;
}

.consultation_button2 {
  font-size: 15px;
  font-weight: 500;

  color: #006eff;
  background-color: #00000000;
  border-radius: 6px;
  padding: 10px;
  border: 2px solid #006eff;
  cursor: pointer;
}

.consultation_button2:hover {
  background-color: #006eff;
  transition: 0.3s;
  color: white;
}

.consultation_button3 {
  font-size: 20px;
  font-weight: 500;
  padding: 9px 16px;
  color: #000000;
  background-color: #00000000;
  border-radius: 6px;
  border: 2px solid #000000;
  cursor: pointer;
}

.consultation_button3:hover {
  background-color: #000000b2;
  transition: 0.3s;
  color: white;
}
.try_free_button3 {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: regular;
  color: #ffffff;
  background-color: #2155ff;
  cursor: pointer;
}
.try_free_button3:hover {
  background-color: #2155ffc2;
  cursor: pointer;
}
.buttonslang {
  display: flex;
  gap: 10px;
}
.free_trial_button:hover {
  background-color: #4570ffe0;
  transition: 0.3s;
}

.free_trial_button {
  font-size: 15px;
  font-weight: 500;
  fill: #000000;
  color: #ffffff;
  background-color: #2155ff;
  border-radius: 6px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.whatsapp_icon {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  /* Make sure it's above other content */
}

.whatsapp_icon img {
  width: 50px;
  /* Adjust the size as needed */
  height: auto;
  /* Maintain the aspect ratio */
}

/* Секции */
.section {
  margin: 25px 0;
  text-align: center;
  flex: 1;
  /* Добавлено свойство централизации текста */
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  padding-top: 100px;
}

.sectionset {
  margin: 25px 0;
  text-align: center;
  flex: 1;
  /* Добавлено свойство централизации текста */
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 100px;
  padding-top: 100px;
  width: 100%;
  gap: 50px;
  display: flex;
  background-color: #f0f5f8;
}

.divset1 {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;

  flex-direction: column;
}

.buttons3 {
  padding-top: 40px;
  justify-content: left;
  align-items: left;
  display: flex;
  width: 100%;
}
.buttons3_in {
  text-align: left;
  width: 18%;
}
.buttons4 {
  width: 60%;
  display: flex;
}
// divset2

.divset2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
}
.box {
  background: #292929;
  padding: 20px 30px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 420px;
  width: 100%;
  min-height: 260px;
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: regular;
    color: #ffffff;
    background-color: #2155ff;
    cursor: pointer;
  }
}
.box_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h3 {
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 20px;
  }
  p {
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    text-align: left;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text {
  transition: color 0.5s ease-in-out;
  font-size: 25px;
  text-align: left;
}
.gif {
  min-height: 140px;
}

.first_image {
  background-image: url('./../../assets/img/divset1.png');
  margin-top: 25px;
  min-height: 330px;
  max-height: 340px;
  width: 80%;
  border-radius: 6px;
  background-position: top left;
  background-repeat: no-repeat;
  margin-left: auto;
}
.first_image2 {
  background-image: url('./../../assets/img/divset2.png');
  margin-top: 25px;
  min-height: 330px;
  max-height: 340px;
  width: 80%;
  border-radius: 6px;
  background-position: top left;
  background-repeat: no-repeat;
  margin-left: auto;
}
.second_image {
  background-image: url('./../../assets/img/divset02.png');
  margin-top: 25px;
  min-height: 330px;
  max-height: 340px;
  width: 50%;
  border-radius: 6px;
  background-position: top left;
  background-repeat: no-repeat;
}

.five_image {
  background-image: url('./../../assets/img/section_5.png') !important;
  width: 100%;
  /* Установите ширину на 100% */
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  /*
}


.section h1,
.section h2,
.section h3 {
  margin: 0;
  text-align: center;
  color: #6a56a6;
  text-shadow: 0px 0px 0px rgba(0,0,0,0.3);
   /* Добавлено свойство централизации текста */
}

.four_image {
  background-image: url('./../../assets/img/section_4.png') !important;
  width: 100%;
  /* Установите ширину на 100% */
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  /*
}


.section h1,
.section h2,
.section h3 {
  margin: 0;
  text-align: center;
  color: #6a56a6;
  text-shadow: 0px 0px 0px rgba(0,0,0,0.3);
   /* Добавлено свойство централизации текста */
}

.section p {
  text-align: left;
  margin: 0 auto;
  max-width: 1100px;
  padding: 15px 0;

  /* Добавлено свойство централизации текста */
}

.buttons {
  justify-content: center;
  /* Добавлено свойство централизации кнопок */
}

.contact_button {
  margin-right: 10px;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  font-size: 16px;

  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  color: #ff8a73;
  background-color: #f8ece8;
  border-radius: 25px;
  cursor: pointer;
}

.contact_button:hover {
  background-color: #fdd2c3;
  transition: 0.3s;
}

.details_button:hover {
  background-color: #b4d0ff;
  transition: 0.3s;
}

.details_button {
  margin-right: 10px;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  font-size: 16px;

  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  color: #5580ff;
  background-color: #dfeafc;
  border-radius: 25px;
  cursor: pointer;
}

.image {
  margin-top: 20px;
  text-align: center;
}

/* Карточки */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(25% - -280px);
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.card2 {
  width: calc(33% - -5px);
  min-height: 300px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  justify-content: center;
}

.right {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.pie-chart {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: lightgray;
  /* Цвет фона диаграммы */
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip: rect(0, 100px, 200px, 0);
  /* Измените второй параметр (100px) на нужное значение для отображения прогресса */
  background-color: #ff6384;
  /* Цвет прогресс-бара */
  transform: rotate(90deg);
  /* Измените угол поворота, чтобы прогресс начинался с верхней позиции */
  transform-origin: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  /* Цвет наложения, можете настроить прозрачность здесь (0.8) */
}

.icon {
  font-size: 24px;
  margin-bottom: 10px;
  min-height: 150px;
}

/* Пятая секция */
.bottom {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  /* Добавлено свойство централизации содержимого */
}

.try_free_button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: regular;
  color: #ffffff;
  background-color: #2155ff;
  cursor: pointer;
}

.try_free_button:hover {
  background-color: #416dff;
  transition: 0.3s;
}

/* Футер */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #5580ff;

  /* Добавлено свойство централизации текста */
}

.footer_block {
  width: 1200px;
  display: flex;
}
.tarrif_parent_wrapper {
  max-width: 1000px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tariff_parent {
  display: flex;
  column-gap: 60px;
}
.footer_right {
  width: 50%;
  text-align: right;
  /* Добавлено свойство централизации текста */
}

.footer_left {
  width: 50%;
  text-align: left;
}

.footer_left h3 {
  margin: 0;
}

.consultation_button {
  padding: 25px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: regular;
  color: #fff;
  background-color: #000000;
  cursor: pointer;
}

.consultation_button:hover {
  background-color: #3b3b3b;
  transition: 0.3s;
}

.image {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image img {
  max-width: 100%;
  height: auto;
}

.video {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.video iframe {
  max-width: 100%;
}

.h1set {
  width: 100%;
  font-size: 35px;
  text-align: left;
  padding-bottom: 40px;
}

.pset {
  width: 100%;
  font-size: 25px;
  text-align: left;
}
@media (max-width: 1600px) {
  .tariff_parent {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
    padding: 0 20px;
  }
  .buttons3_in {
    text-align: left;
    width: 25%;
  }
}
@media (max-width: 1400px) {
  .tariff_parent {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
    padding: 0 20px;
  }
  .divset1 {
    width: 50%;
  }

  .divset2 {
    width: 50%;
  }

  .sectionset {
    width: 100%;
  }
  .buttons3_in {
    text-align: left;
    width: 30%;
  }
}

@media (max-width: 1180px) {
  .first_image2,
  .first_image {
    width: 100%;
  }
  .tariff_parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
  }

  .cards .card {
    width: calc(50% - 35px);
  }

  .sectionset {
    display: block;
    padding: 100px 25px;
  }

  .divset1 {
    margin-bottom: 40px;
  }

  .divset2 {
    width: 100%;
  }
  .divset1 {
    width: 100%;
  }

  .h1set {
    width: 100%;
    font-size: 35px;
    text-align: left;
    padding-bottom: 40px;
  }

  .pset {
    width: 100%;
    font-size: 25px;
    text-align: left;
  }

  .text {
    font-size: 25px;
  }
  .footer_right {
    text-align: right;
  }
  .footer_left {
    text-align: left;
  }
  .footer_block {
    width: 100%;
    padding: 0px 20px;
  }
  .try_free_button3 {
    font-size: 20px;
  }
  .buttons3_in {
    text-align: left;
    width: 15%;
  }
}

/* Адаптивность */
@media (max-width: 780px) {
  .consultation_button3 {
    font-size: 15px;
  }
  .try_free_button3 {
    font-size: 15px;
  }
  .tariff_parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
  }
  .h1set {
    width: 100%;
    font-size: 25px;
    text-align: left;
    padding-bottom: 40px;
  }

  .pset {
    width: 100%;
    font-size: 20px;
    text-align: left;
  }
  .first_image2,
  .first_image {
    background-size: contain;
    // min-height: 100px;
    background-position: center center;
  }

  .text {
    font-size: 20px;
  }

  .header {
    display: block;
    // flex-direction: column;
    align-items: flex-start;
  }

  .footer_block {
    display: flex;
    flex-direction: column;
  }

  .section h1 {
    font-size: 24px;
  }

  .cards .card {
    width: calc(50% - 20px);
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer_left,
  .footer_right {
    width: 100%;
    margin-bottom: 10px;
  }

  .right {
    flex-direction: column;

    .card2 {
      width: unset;
    }
  }

  .divset2 {
    width: 100%;
  }
  .footer_right,
  .footer_left {
    text-align: center;
  }
  .footer_block {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .buttons3_in {
    text-align: left;
    width: 20%;
  }
}

@media (max-width: 500px) {
  .divset2 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .buttons3 {
    column-gap: 0px;
  }
  .box {
    padding: 20px;
    button {
      font-size: 15px;
      padding: 10px 20px;
    }
    min-height: 200px;
  }
  .box_title {
    h3 {
      font-size: 25px;
    }
    p {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
  .tariff_parent {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .buttonslang {
    display: none;
  }
  .footer_right,
  .footer_left {
    text-align: center;
  }
  .footer_block {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .header {
    display: block;
  }

  .header_inner {
    display: flex;
  }

  .cards .card {
    width: calc(50% - -190px);
  }
  .first_image2,
  .first_image {
    background-size: contain;
    width: 100%;
    min-height: 220px;
  }

  .divset2 {
    width: 100%;
  }

  .consultation_button3 {
    width: 100%;
  }
  .try_free_button3 {
    font-size: 15px;
    padding: 10px 20px;
  }
  .buttons4 {
    width: 100%;
  }
  .buttons3_in {
    text-align: left;
    width: 60%;
  }
}
