.navbar_wrapper {
  display: flex;
  padding: 20px 40px 20px 40px;
  background: rgba(255, 255, 255, 0.96);
  border-radius: 6px;
  gap: 25px;
  height: 60px;
}
.navbar_item {
  font-weight: 600;
  font-size: 16px;
  color: #545c6a;
  cursor: pointer;
  &:hover {
    color: #1058d0;
    border-bottom: 2px solid #1058d0;
  }
}
.navbar_active {
  color: #1058d0;
}
.btn {
  border-radius: 6px;
  font-family: 'Nunito', sans-serif;
  color: #535b69;
  background: #bbed21;
  &:hover {
    background: #d1f071;
  }
}

.kanban_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.kanban_heading {
  display: flex;
  padding: 15px 0px;
  gap: 30px;
  border-bottom: 1px solid grey;
}
.kanban_nav {
  display: flex;
  background: #f9fafb;
  color: #525c69;
  width: 17%;
  padding: 10px 15px;
  gap: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  p {
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}
.sliding_pane_header {
  display: flex;
  gap: 10px;
  margin: 15px 0 15px 0;
}
@media screen and (max-width: 600px) {
  .sliding_pane_header {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.some_custom_class2 {
  position: relative;
  z-index: 55;
  background: #ffffff4d !important;
  backdrop-filter: blur(8px) !important;
}
.some_custom_overlay_class1 {
  position: relative;
  z-index: 55;
  background: #ffffff4d !important;
  backdrop-filter: blur(8px) !important;
}
