.wrapper {
  display: flex;
  justify-content: space-between;

  img {
    width: 40px;
  }
  h4 {
    color: #4d4e55;
  }
  a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: #4d4e55;
    :hover {
      color: black;
    }
  }
}
.list_of_links {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 660px) {
  .wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .list_of_links {
    flex-direction: row;
  }
}
