.container {
  text-align: center;
  padding-top: 10px;
}

.inputs {
  width: 2ch;
  border-radius: 4px;
  font-size: 40px;
  text-align: center;
  margin-right: 12px;
  border: none;
  text-transform: uppercase;
}
