.wrapper {
  background-color: #ffffff;
  height: 100vh;
  font-family: Raleway;
  font-weight: 400;
  scroll-behavior: smooth;
}
.wrapper_header {
  padding: 10px 20px;
  border-bottom: 1px solid #f7f8fb;
}
.wrapper_body {
  padding: 15px 55px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
