$table: 768px;
.discription_input {
  width: 100%;
  min-height: 200px;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 5px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #000;
  padding: 10px 16px;
  font-family: 'Nunito', sans-serif;
  resize: none;
  &:focus-visible {
    outline: none;
  }
}
.type_input {
  max-width: 300px;
  min-height: 40px;

  outline: none;
  background: #ffffff;
  border: none;

  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #000;
  padding: 10px 16px;
  font-family: 'Nunito', sans-serif;
  resize: none;
  &:focus-visible {
    outline: none;
  }
}
.title_input {
  width: 100%;
  min-height: 40px;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 5px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #000;
  padding: 10px 16px;
  font-family: 'Nunito', sans-serif;
  resize: none;
  &:focus-visible {
    outline: none;
  }
}

.add_statement_file {
  border: none;
  background: #fff;
  text-align: left;
  img {
    width: 14px;
    height: 16px;
    margin-right: 5px;
    margin-bottom: -3px;
  }
  span {
    font-size: 11px;
    color: #515e68;
    font-family: 'Montserrat', sans-serif;
  }
}
.statement_wrapper {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 6px;
  padding: 30px;
  margin-bottom: 20px;
}

.statement_body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.statement_footer {
  padding: 15px 0px;

  .btn1 {
    background: rgb(0 0 0 / 44%);
    border: none;
    color: white;
    text-transform: none;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.68);
    }
  }
  .btn2 {
    margin-left: 20px;
    border-radius: 6px;

    font-family: 'Nunito', sans-serif;
    color: #535b69;
    background: transparent;
    &:hover {
      background: #cfd4d8;
    }
  }
}

@media screen and (max-width: $table) {
  .statement_footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .btn2 {
      margin: 0;
    }
  }
}
